<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Pformat &#8212; VCS 2.4.1 documentation</title>
    
    <link rel="stylesheet" href="../../_static/classic.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '2.4.1',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="shortcut icon" href="../../_static/globe.png"/>
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="top" title="VCS 2.4.1 documentation" href="../../index.html" />
    <link rel="up" title="Templating" href="templ.html" />
    <link rel="next" title="Plegend" href="Plegend.html" />
    <link rel="prev" title="Pdata" href="Pdata.html" /> 
  </head>
  <body role="document">
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="../../py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="Plegend.html" title="Plegend"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="Pdata.html" title="Pdata"
             accesskey="P">previous</a> |</li>
        <li class="nav-item nav-item-0"><a href="../../index.html">VCS 2.4.1 documentation</a> &#187;</li>
          <li class="nav-item nav-item-1"><a href="../vcs.html" >VCS</a> &#187;</li>
          <li class="nav-item nav-item-2"><a href="templ.html" accesskey="U">Templating</a> &#187;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <div class="section" id="module-vcs.Pformat">
<span id="pformat"></span><h1>Pformat<a class="headerlink" href="#module-vcs.Pformat" title="Permalink to this headline">¶</a></h1>
<p># Template Format (Pf) module</p>
<dl class="class">
<dt id="vcs.Pformat.Pf">
<em class="property">class </em><code class="descclassname">vcs.Pformat.</code><code class="descname">Pf</code><span class="sig-paren">(</span><em>member</em><span class="sig-paren">)</span><a class="reference internal" href="../../_modules/vcs/Pformat.html#Pf"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#vcs.Pformat.Pf" title="Permalink to this definition">¶</a></dt>
<dd><p>The Template text object allows the manipulation of line type, width, and color index.</p>
<p>This class is used to define an line table entry used in VCS, or it
can be used to change some or all of the line attributes in an
existing line table entry.</p>
<dl class="describe">
<dt>
<code class="descname">Useful Functions:</code></dt>
<dd><div class="highlight-python"><div class="highlight"><pre><span></span><span class="c1"># VCS Canvas Constructor</span>
<span class="n">a</span><span class="o">=</span><span class="n">vcs</span><span class="o">.</span><span class="n">init</span><span class="p">()</span>
<span class="c1"># Show predefined line objects</span>
<span class="n">a</span><span class="o">.</span><span class="n">show</span><span class="p">(</span><span class="s1">&#39;line&#39;</span><span class="p">)</span>
<span class="c1"># Updates the VCS Canvas at user&#39;s request</span>
<span class="n">a</span><span class="o">.</span><span class="n">update</span><span class="p">()</span>
</pre></div>
</div>
</dd></dl>

<dl class="describe">
<dt>
<code class="descname">Make a Canvas object to work with:</code></dt>
<dd><div class="highlight-python"><div class="highlight"><pre><span></span><span class="n">a</span><span class="o">=</span><span class="n">vcs</span><span class="o">.</span><span class="n">init</span><span class="p">()</span>
</pre></div>
</div>
</dd></dl>

<dl class="describe">
<dt>
<code class="descname">Create a new instance of line:</code></dt>
<dd><div class="highlight-python"><div class="highlight"><pre><span></span><span class="c1"># Copies content of &#39;red&#39; to &#39;new&#39;</span>
<span class="n">ln</span><span class="o">=</span><span class="n">a</span><span class="o">.</span><span class="n">createline</span><span class="p">(</span><span class="s1">&#39;new&#39;</span><span class="p">,</span><span class="s1">&#39;red&#39;</span><span class="p">)</span>
<span class="c1"># Copies content of &#39;default&#39; to &#39;new&#39;</span>
<span class="n">ln</span><span class="o">=</span><span class="n">a</span><span class="o">.</span><span class="n">createline</span><span class="p">(</span><span class="s1">&#39;new&#39;</span><span class="p">)</span>
</pre></div>
</div>
</dd></dl>

<dl class="describe">
<dt>
<code class="descname">Modify an existing line:</code></dt>
<dd><div class="highlight-python"><div class="highlight"><pre><span></span><span class="n">ln</span><span class="o">=</span><span class="n">a</span><span class="o">.</span><span class="n">getline</span><span class="p">(</span><span class="s1">&#39;red&#39;</span><span class="p">)</span>
</pre></div>
</div>
</dd></dl>

<dl class="describe">
<dt>
<code class="descname">Overview of line attributes:</code></dt>
<dd><ul>
<li><p class="first">Listing line attributes:</p>
<blockquote>
<div><div class="highlight-python"><div class="highlight"><pre><span></span><span class="c1"># Will list all the line attribute values</span>
<span class="n">ln</span><span class="o">.</span><span class="n">list</span><span class="p">()</span>
<span class="c1"># Range from 1 to 256</span>
<span class="n">ln</span><span class="o">.</span><span class="n">color</span><span class="o">=</span><span class="mi">100</span>
<span class="c1"># Range from 1 to 300</span>
<span class="n">ln</span><span class="o">.</span><span class="n">width</span><span class="o">=</span><span class="mi">100</span>
</pre></div>
</div>
</div></blockquote>
</li>
<li><p class="first">Specifying the line type:</p>
<blockquote>
<div><div class="highlight-python"><div class="highlight"><pre><span></span><span class="c1"># Same as ln.type=0</span>
<span class="n">ln</span><span class="o">.</span><span class="n">type</span><span class="o">=</span><span class="s1">&#39;solid&#39;</span>
<span class="c1"># Same as ln.type=1</span>
<span class="n">ln</span><span class="o">.</span><span class="n">type</span><span class="o">=</span><span class="s1">&#39;dash&#39;</span>
<span class="c1"># Same as ln.type=2</span>
<span class="n">ln</span><span class="o">.</span><span class="n">type</span><span class="o">=</span><span class="s1">&#39;dot&#39;</span>
<span class="c1"># Same as ln.type=3</span>
<span class="n">ln</span><span class="o">.</span><span class="n">type</span><span class="o">=</span><span class="s1">&#39;dash-dot&#39;</span>
<span class="c1"># Same as ln.type=4</span>
<span class="n">ln</span><span class="o">.</span><span class="n">type</span><span class="o">=</span><span class="s1">&#39;long-dash&#39;</span>
</pre></div>
</div>
</div></blockquote>
</li>
</ul>
</dd></dl>

</dd></dl>

</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../index.html">
              <img class="logo" src="../../_static/uvcdat.png" alt="Logo"/>
            </a></p>
  <h4>Previous topic</h4>
  <p class="topless"><a href="Pdata.html"
                        title="previous chapter">Pdata</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="Plegend.html"
                        title="next chapter">Plegend</a></p>
  <div role="note" aria-label="source link">
    <h3>This Page</h3>
    <ul class="this-page-menu">
      <li><a href="../../_sources/vcs/template/Pformat.txt"
            rel="nofollow">Show Source</a></li>
    </ul>
   </div>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <div><input type="text" name="q" /></div>
      <div><input type="submit" value="Go" /></div>
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="../../py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="Plegend.html" title="Plegend"
             >next</a> |</li>
        <li class="right" >
          <a href="Pdata.html" title="Pdata"
             >previous</a> |</li>
        <li class="nav-item nav-item-0"><a href="../../index.html">VCS 2.4.1 documentation</a> &#187;</li>
          <li class="nav-item nav-item-1"><a href="../vcs.html" >VCS</a> &#187;</li>
          <li class="nav-item nav-item-2"><a href="templ.html" >Templating</a> &#187;</li> 
      </ul>
    </div>
    <div class="footer" role="contentinfo">
        &#169; Copyright 2016, LLNL.
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.4.8.
    </div>
  </body>
</html>